* {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
}

body {
    width: 100%;
}

nav {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    z-index: 6;
    background-color: white;
    border-bottom: 2px solid #E479F3;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav img{
    width: 44px;
    height: 44px;
    margin-left: 37px;
}
ul {
    height: 20px;
    margin-left: auto;
    width: fit-content;
}

nav ul a {
    text-decoration: none;
    color: #000000;
}
nav ul a:hover{
    color:#E479F3;
    text-decoration:underline; 
}


li {
    display: inline;
    margin: 0 23px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
}

.slidercontainer {
    margin: 0 auto;
    margin-top: 72px;
    width: 100%;
}

.sliderwrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 0 auto;
    border-top: 2px solid #E479F3;
}

.slider::-webkit-scrollbar {
    display: none;
}
.sliderwrapper button.arrow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #2b2d2c;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: lighter;
}
.sliderwrapper button#left{
    top: 50%;
    transform: translateY(-50%);
    left: 48px;
}
.sliderwrapper button#right{
    top: 50%;
    transform: translateY(-50%);
    right: 48px;
}

.sliderwrapper button img {
    width: 50%;
    height: 50%;
    background-size: contain;
}
.slidercontainer .slider .slides {
    height: 508px;
    width: 100%;
    scroll-snap-align: center;
    flex-shrink: 0;
}

#slide1 {
    background-image: url('./Resources/WhatsApp\ Image\ 2023-08-16\ at\ 12.01\ 1.png');
    background-size: cover;
}

#slide2 {
    background-image: url('./Resources/PRIMARY\ 1.png');
    background-size: cover;
}

#slide3 {
    background-image: url('./Resources/LAPTOP\ 1.png');
    background-size: cover;
}

.sliderwrapper h1 {
    font-family: 'Montserrat';
    width: 837px;
    height: 130px;
    color: #ffffff;
    font-size: 50px;
    line-height: 62px;
    font-weight: 700;
    margin-top: 190px;
    margin-left: 100px;
}
.sliderwrapper h1 span{
    color: #E479F3;
}

.sliderwrapper p {
    font-family: 'Montserrat';
    color: #ffffff;
    margin-top: 22px;
    margin-left: 100px;
    font-size: 15px;
    font-weight: 500;
}

.sliderwrapper a {
    margin-left: 100px;
    margin-top: 30px;
    display: inline-block;
}

.sliderwrapper .slides button {
    background-color: #E479F3;
    color: #000000;
    width: 150px;
    height: 37px;
    font-size: 15px;
    border: none;
    border-radius: 37px;
}

.slides .overlay {
    height: inherit;
    width: 100%;
    background-color: #0000007f;
}

.aboutus h6 {
    width: fit-content;
    margin: 0 auto;
    margin-top: 54px;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
}

.aboutus h2 {
    width: fit-content;
    margin: 9px auto;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 700;
}

.longline {
    width: 133px;
    border: 1.5px solid #E479F3;
    margin: 0 auto;
}

.shortline {
    width: 62px;
    border: 1.5px solid #E479F3;
    margin: 0 auto;
    margin-top: 4px;
}

.mothercard {
    width: fit-content;
    height: fit-content;
    margin: 22px auto;
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.card {
    width: 408px;
    height: 578px;
    border: 1px solid #b6b6b6;
    background-color: #f9f9f9;
}
#cardimage1, #cardimage2, #cardimage3 {
    background-size: cover;
    height: 272px;
    width: inherit;
}
#cardimage1{
    background-image: url('./Resources/image\ 1.png');
}
#cardimage2{
    background-image: url('./Resources/image\ 2.png');
}
#cardimage3{
    background-image: url('./Resources/excursion.png');
}
.card h6 {
    font-family: 'Montserrat';
    margin-top: 45px;
    font-style: normal;
    text-align: center;
    font-size: 16px;
    font-weight: 700;    
}
.card p {
    font-size: 16px;
    font-family: "Montserrat";
    text-align: center;
    font-weight: 400;
    width: 304px;
    height: 180px;
    margin: 0 auto;
    margin-top: 21px;
    color: #212121;
}
#WelcomeAddress{
    width: 1177px;
    padding: 0px 42px;
    margin: 0 auto;
    margin-top: 50px;

}
#WelcomeAddress h2{
     font-family: "Montserrat";
     font-size: 32px;
     width: fit-content;
     margin: 0 auto;
     color: #E479F3;
}


#WelcomeAddress article{
    width: 63%;
    height: fit-content;
    font-size: 16px;
    display: inline-block;
}
#WelcomeAddress img{
    width: 31%;
    display: inline-block;

}
#flex {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 63px;
}
#facilities{
    width: 1177px;
    margin: 0 auto;
    margin-top: 101px;
    text-align: center;
    font-family: 'Montserrat';
    
}
#facilities h6 {
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
}
#facilities h3 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 9px;
}

.motherlab {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 52px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 51px;
}

.labcard {
    width: 470px;
    height: 315px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.computerlab  {
    background-image: url("./Resources/computer\ lab.png");
    height: 100%;
    width: 265px;
    background-size: cover;
}

.sciencelab {
    background-image: url("./Resources/science\ lab.png");
    height: 100%;
    width: 265px;
    background-size: cover;
}

.labcardtextbox{
    height: 100%;
    width: 205px;
    background-color: #EEF3F6;
}
.labcardtextbox p{
    margin-top: 37px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.labcardtextbox article{
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 400;
    width: 90%;
    margin: 0 auto;
    margin-top: 13px;
    text-align: left;
}
#facilities button{
    background-color: #E479F3;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    margin-top: 58px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 47px;

}
#Testimonials{
    width: 100%;
    background-color: #4a4a4a;
}
#Testimonials p{
 color: #ffffff;
 width: fit-content;
 margin: 0 auto;
 margin-top: 64px;
 font-family: 'Montserrat';
 font-size: 20px;
 font-style: italic;
 font-weight: 500;
}
#Testimonials h3{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 18px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
}

#Testimonials ul {
    height: fit-content;
    margin: 0 auto;
    margin-top: 40px;
}

#Testimonials ul li {
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

#Testimonials ul li:hover {
    cursor: pointer;
}
.testimonialswrapper {
    width: inherit;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.testimonialswrapper::-webkit-scrollbar {
    display: none;
}

.MTestimonialcardswrapper {
    width: inherit;
    position: relative;
    flex-shrink: 0;
}
.MTestimonialcards{
    margin: 0 auto;
    margin-bottom: 49px;
    display: flex;
    flex-direction: row;
    column-gap: 39px;
    width: inherit;
    flex-shrink: 0;
    scroll-snap-align: center;
    overflow-x: scroll;
    position: relative;
    top: -20px;
}

.MTestimonialcards::-webkit-scrollbar {
    display: none;
}

.testbuttons {
    height: 80px;
    width: 80px;
    flex-shrink: 0;
    border-radius: 50%;
    color: white;
    background-color: #4a4a4a;
    font-size: 40px;
    z-index: 5;
}

#testright, #testright2 {
    position: sticky;
    left: 90%;
    top: 50%;
    border: 2px solid #E479F3;
}

#testleft, #testleft2 {
    position: sticky;
    left: 5%;
    top: 50%;
    border: 2px solid #E479F3;
}
.Testimonialcard{
    width: 402px;
    height: 794px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

}

.Testimonialcard .circle{
    margin: 0 auto;
    margin-top: 48px;
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background-color: #D9D9D9;
    background-size: cover;

}

#parent1 {
    background-image: url('./Resources/parent1.png');
}

#parent2 {
    background-image: url('./Resources/parent2.png');
}

#parent3 {
    background-image: url('./Resources/parent3.png');
}

#alum1 {
    background-image: url('./Resources/alum1.png');
}

#alum2 {
    background-image: url('./Resources/alum2.png');
}

#alum3 {
    background-image: url('./Resources/alum3.png');
}
.MTestimonialcards .Testimonialcard p#comment{
    margin: 0 auto;
    margin-top: 22px;
    width: 363px;
    text-align: center;
    color: #212121;
    font-style: italic;
    font-family: 'Montserrat';
    line-height: 24px;
    font-size: 16px;
}

#comment span {
    color: #E479F3;
}
.MTestimonialcards .Testimonialcard img {
    display: block;
    width: 235px;
    height: 34px;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 54px;
}
#Exams{
    width: 100%;
}
#Exams h3{
    font-family: 'Montserrat';
    width: fit-content;
    font-size: 32px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 113px;
}
#Exams .examlogos {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    margin-top: 45px;
    gap: 240px;
    margin-bottom: 57px;
}
#Exams .examlogos .logo{
    height: 189px;
    width: 189px;
    background-size: contain;
    background-repeat:no-repeat;



}
#logo1{
    background-image: url('./Resources/waec.png');
}
#logo2{
    background-image: url('./Resources/Neco.png');

}
#logo3{
    background-image: url('./Resources/Jamb.png');
}
#logo4{
    background-image: url('./Resources/Junior\ waec.png');
}

footer {
    width: 100%;
    background-color: #212121;
    margin: 0 auto;
}

footer .links {
    margin: 0 auto;
    margin-top: 77px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 180px;
}

footer .badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

footer .badge .img {
    background-image: url(./Resources/kdc\ bag.png);
    background-size: cover;
    width: 92px;
    height: 92px;
}

footer .badge p {
    margin-top: 25px;
    width: fit-content;
}

footer .links .quicklinks ul{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 12px;
    padding: 0;
}

footer .links .quicklinks ul li {
    margin-left: 0;
}

footer .links .quicklinks ul a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 0;
    text-align: left;
}

footer .links h3 {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #E479F3;
    margin-bottom: 24px;
}

footer .links img {
    width: 15px;
    height: 15px;
    margin-right: 17px;
}

footer .links p {
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-family: "Montserrat";
    margin-bottom: 22px;
}

.developers {
    font-family: "Montserrat";
    font-size: 14px;
    font-style: italic;
    width: fit-content;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 5px;
    color: #E479F3;
}

.copyright {
    width: fit-content;
    margin: 0 auto;
    color: #ffffff;
    font-size: 16px;
    margin-top: 91px;
}