* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

nav {
    width: 1728px;
    height: 173px;
}

ul {
    width: 790px;
    height: 20px;
    float: right;
}

li {
    display: inline;
}