* {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
}

body {
    width: 99.5vw;
}

nav {
    width: 100%;
    height: 86px;
}
nav img{
    width: 50px;
    height: 50px;
    margin-top: 21px;
    margin-left: 37px;

}
ul {
    height: 20px;
    float: right;
    margin-top: 38px;
}

nav ul a {
    text-decoration: none;
    color: #000000;
}
nav ul a:hover{
    color:#E479F3;
    text-decoration:underline; 
}


li {
    display: inline;
    margin: 0 23px;
    font-family: 'Montserrat';
}
.contactus {
    border: 1px solid black;
    width: 1177px;
    height: 100px;
    top: 76px;
}
.banner{
    width: 1177px;
    height: 600px;
    background-image: url('../Resources/WhatsApp\ Image\ 2023-08-16\ at\ 12.01\ 1.png');
    background-size: cover;
    margin: 0 auto;
}
.banner .overlay{
    width: inherit;
    height: inherit;
    background-color: #0000007f;
}
.banner .overlay h1{
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    font-size:50px;
    margin: 0 auto;
    width: fit-content;
    margin-top: 200px;
}
.aboutus h6 {
    width: fit-content;
    margin: 0 auto;
    margin-top: 37px;
    font-family: 'Monteserrat';
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
}

.aboutus h2 {
    width: fit-content;
    margin: 8px auto;
    font-family: 'Monteserrat';
    font-size: 26px;
    font-weight: 700;
}

.longline {
    width: 133px;
    border: 1.5px solid #E479F3;
    margin: 0 auto;
}

.shortline {
    width: 62px;
    border: 1.5px solid #E479F3;
    margin: 0 auto;
    margin-top: 4px;
}

.mothercard {
    width: 791px;
    height: 343px;
    margin: 13px auto;
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.card {
    width: 246px;
    height: 343px;
    border: 1px solid #b6b6b6;
    background-color: #f9f9f9;
}
#cardimage1, #cardimage2, #cardimage3 {
    background-size: cover;
    height: 162px;
    width: 246px;
}
#cardimage1{
    background-image: url('./Resources/image\ 1.png');
}
#cardimage2{
    background-image: url('./Resources/image\ 2.png');
}
#cardimage3{
    background-image: url('./Resources/excursion.png');
}
.card h6 {
    font-family: 'Monteserrat';
    margin-top: 27px;
    font-style: normal;
    text-align: center;    
}
.card p {
    font-size: 10px;
    text-align: center;
    width: 184px;
    height: 80px;
    margin: 0 auto;
    margin-top: 12.5px;
    color: #212121;
}
#WelcomeAddress{
    width: 1177px;
    padding: 0px 42px;
    margin: 0 auto;
    margin-top: 50px;

}
#WelcomeAddress h2{
     font-family: "Montserrat";
     width: fit-content;
     margin: 0 auto;
     color: #E479F3;
}


#WelcomeAddress article{
    width: 63%;
    height: 370px;
    font-size: 12px;
    display: inline-block;
    margin-top: 45px;
}
#WelcomeAddress img{
    width: 31%;
    display: inline-block;

}
#flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 63px;
}
#facilities{
    width: 1177px;
    margin: 0 auto;
    margin-top: 85px;
    text-align: center;
    font-family: 'Montserrat';
    
}
#facilities h6 {
    font-weight: 500;
    font-size: 12px;
    font-style: italic;
}
#facilities h3 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 8px;
}

.motherlab {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 91px;
    justify-content: center;
    margin-top: 30px;
}

.labcard {
    width:373px ;
    height: 250px;
    display: flex;
    flex-direction: row;
}

.computerlab  {
    background-image: url("./Resources/computer\ lab.png");
    height: 100%;
    width: 210px;
    background-size: cover;
}

.sciencelab {
    background-image: url("./Resources/science\ lab.png");
    height: 100%;
    width: 210px;
    background-size: cover;
}

.labcardtextbox{
    height: 100%;
    width: 163px;
    background-color: #EEF3F6;
}
.labcardtextbox p{
    margin-top: 37px;
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 500;
}
.labcardtextbox article{
    font-size: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    width: 144px;
    margin: 0 auto;
    margin-top: 13px;
}
#facilities button{
    background-color: #E479F3;
    width: 118px;
    height: 30px;
    border-radius: 20px;
    margin-top: 40px;
    font-family: "Montserrat";
    font-weight: 400;
    margin-bottom: 28px;

}
#Testimonials{
    width: 1177px;
    background-color: #4a4a4a;
    margin: 0 auto;
}
#Testimonials p{
 color: #ffffff;
 width: fit-content;
 margin: 0 auto;
 font-family: 'Montserrat';
 font-size: 12px;
 font-style: italic;
}
#Testimonials h3{
    width: fit-content;
    height: 22px;
    margin: 0 auto;
    margin-top: 13px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
}
.MTestimonialcards{
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 49px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.Testimonialcard{
    width: 239px;
    height: 432px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

}
.Testimonialcard .circle{
    margin: 0 auto;
    margin-top: 48px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #D9D9D9;
    background-size: cover;

}

#parent1 {
    background-image: url('./Resources/parent1.png');
}

#parent2 {
    background-image: url('./Resources/parent2.png');
}

#parent3 {
    background-image: url('./Resources/parent3.png');
}
.MTestimonialcards .Testimonialcard p#comment{
    margin: 0 auto;
    margin-top: 44px;
    width: 216px;
    text-align: center;
    color: #212121;
    font-style: italic;
    font-family: 'Montserrat';
    line-height: 16px;
    font-size: 8px;
}
.MTestimonialcards .Testimonialcard img {
    display: block;
    width: 140px;
    height: 20px;
    margin: 0 auto;
    justify-self: flex-end;
}
#Exams{
    width: 1177px;
    margin: 0 auto;
    margin-top: 54px;
}
#Exams h3{
    font-family: 'Montserrat';
    width: fit-content;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
}
#Exams .examlogos {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    margin-top: 28px;
    gap: 240px;
    margin-bottom: 34px;
}
#Exams .examlogos .logo{
    height: 112px;
    width: 112px;
    background-size: cover;



}
#logo1{
    background-image: url('./Resources/waec.png');
}
#logo2{
    background-image: url('./Resources/Neco.png');

}
#logo3{
    background-image: url('./Resources/Jamb.png');
}
#logo4{
    background-image: url('./Resources/Junior\ waec.png');
}

footer {
    width: 1177px;
    background-color: #212121;
    margin: 0 auto;
}

footer .links {
    margin: 0 auto;
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 136px;
}

footer .badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

footer .badge .img {
    background-image: url(./Resources/kdc\ bag.png);
    background-size: cover;
    width: 92px;
    height: 92px;
}

footer .badge p {
    margin-top: 25px;
    width: fit-content;
}

footer .links .quicklinks ul{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 12px;
    padding: 0;
}

footer .links .quicklinks ul li {
    margin-left: 0;
}

footer .links .quicklinks ul a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 0;
    text-align: left;
}

footer .links h3 {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #E479F3;
    margin-bottom: 24px;
}

footer .links img {
    width: 15px;
    height: 15px;
    margin-right: 17px;
}

footer .links p {
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-family: "Montserrat";
    margin-bottom: 22px;
}

.developers {
    font-family: "Montserrat";
    font-size: 10px;
    font-style: italic;
    width: fit-content;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 5px;
    color: #E479F3;
}

.copyright {
    width: fit-content;
    margin: 0 auto;
    color: #ffffff;
    font-size: 12px;
    margin-top: 91px;
}